<% include partials/header %>

<div class="container" style="margin-top: 100px"> 

<% if(message && message.length>0) { %>
<div class="alert alert-success">

 <%= message %> </div>

 <% } %>
        <h1> WELCOME TO MY PHOTO BLOG </h1>



</div>

<% include partials/footer %>